# alias ls cause i always mistype it
alias l='ls'
alias s='ls'
alias sl='ls'
# start emacs non-windowed, use the snapshot version instead
alias emacs='TERM=xterm-256color emacs -nw -l ~/.emacs.d/.emacs'
alias e='TERM=xterm-256color emacs -nw -l ~/.emacs.d/.emacs'
alias enw='TERM=xterm-256color emacsclient -nw -c'
alias emacs-new-window='TERM=xterm-256color emacsclient -nw -c'
alias ec='TERM=xterm-256color emacsclient -n'
# use vim with improvements
alias vim='/usr/bin/vim -u ~/.vim/.vimrc'
alias suvim='sudo /usr/bin/vim -u ~/.vim/.vimrc'

# close R without prompting to save worksprace
alias R='R --no-save'

# cd to usb-connected devices
alias showusbdir='/usr/bin/showusbdir.sh'

# sublime, i guess
alias sublime='/usr/bin/sublime_text_3/sublime_text'
