# alias ls cause i always mistype it
alias l='ls'
alias s='ls'
alias sl='ls'

# start emacs non-windowed, use the snapshot version instead
alias emacs='TERM=xterm-256color emacs -nw'
alias e='TERM=xterm-256color emacs -nw'
alias enw='TERM=xterm-256color emacsclient -nw -c'
alias enwg='TERM=xterm-256color nohup emacsclient -c &'
alias emacs-new-window='TERM=xterm-256color emacsclient -nw -c'
alias ec='TERM=xterm-256color emacsclient -n'

# grep is da bomb
alias g='grep -rnPH --color'
alias find_warnings='g "\"$(coffee ~/.zsh/find_warnings.coffee ./warning_words | xargs ./regex-opt/regex-opt)\""'

# close R without prompting to save worksprace
alias R='R --no-save'

# sbcl /needs/ readline
alias sbcl='rlwrap sbcl'

# ipython
alias ipython_start='nohup ipython notebook &'
